*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* --------HOME PAGE---------*/
header{
	min-height: 750px;
	background-image:linear-gradient(rgba(10,10,10,0.7),rgba(15,15,15,0.8)),url(../img/bg1.jpeg);
	background-size: cover;
	background-position: center;
}

/*-----Navbar------*/
.navbar{
	background-color: #1c1c1c;
	min-height: 10vh;
	display: flex;
	align-items: center;
}

.logo{
	width: auto;
	height: 60px;
}

.navbar .nav-item .nav-link {
    color: white;
    font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.nav-item{
	text-decoration: none;!important
	color: white;
	text-transform: uppercase;
}

/* HOVER EFFECTS */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
  color: blue;
}
/*------End of Navbar-------*/

/*--------Landing Page-------*/
.We-Offer{
	position: absolute;
	width: 813px;
	height: 61px;
	left: 42px;
	top: 335px;

	font-family: 'Aoboshi One', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 80px;
	letter-spacing: 0.02em;

	color: #87964A;
}

.Indulge-In{
	position: absolute;
	width: 699px;
	height: 90px;
	left: 54px;
	top: 428px;

	font-family: 'Halant', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 47px;
	letter-spacing: 0.02em;

	color: #FFFFFF;
}

.btn-contact{
	position: absolute;
	margin-left: 10px;
	width: 219px;
	height: 59px;
	left: 42px;
	top: 550px;

	background: #87964A;
	border: 2px solid #FFFFFF;
	border-radius: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	text-align: center;
	letter-spacing: 0.02em;

	color: #FFFFFF;
}

.btn-contact:hover,
.btn-contact:active{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
}
/*---------End of Landing Page-------*/

.section1{
	width: 100%;
	min-height: 672px;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/rectangle.png);
	background-size: cover;
	background-position: center;
}

.home-to-about{
	width: 100%;
	height: 431px;
	background-size: cover;
	background-position: center; 
	padding-top: 320px;

	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg5.jpg);
}

.home-to-menu{
	width: 100%;
	height: 431px;
	background-size: cover;
	background-position: center;
	padding-top: 320px;
	
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg4.jpg);
}

.row{
	padding-top: 100px;
}

.btn-about{
	display: block;
	width: 256px;
	height: 79px;
	margin-left: auto;
	margin-right: auto;


	background: #87964A;
	border: 4px solid #FFFFFF;
	border-radius: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

a{
	text-decoration: none;
}

a:hover,
a:active{
	text-decoration: none
}

.btn-about:hover,
.btn-about:active{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
}

.btn-menu{
	display: block;
	width: 256px;
	height: 79px;
	margin-left: auto;
	margin-right: auto;


	background: #87964A;
	border: 4px solid #FFFFFF;
	border-radius: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.btn-menu:hover,
.btn-menu:active{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
}

/*-----------Footer----------*/
footer{
	min-height: 374px;
	background-color: #1c1c1c;
	padding-left: 50px;
	padding-right: 50px;
}

.logo2{
	width: 120px;
	height: auto;
}

footer li{
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	padding-bottom: 15px;
}

footer ul{
	display: flex;
	display: inline-block;
	padding: 0; !important
}

.newsletter{
	text-align: left;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
}

.socmeds{
	display: inline-block;
	text-align: center;
	font-size: 30px;
}

.fa-brands{
	text-align: center;
	padding-right: 35px;
}

.footer-title{
	color: #89A78E;
}

.row2{
	padding-top: 50px;
	padding-bottom: 100px;
}

.be-the-first{
	font-family: 'IM Fell Double Pica', serif;
	font-size: 20px;
}
/*---------End of Footer---------*/
